# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.ccsproject
.cproject
*.project
.launches/MSP430-Software-UART.launch
*.prefs
Debug/ccsObjs.opt
*.pp
Debug/MSP430-Software-UART.map
*.xml
Debug/MSP430-Software-UART.out
*.cmd
targetConfigs/MSP430G2553.ccxml
*.txt
